.secret-file{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;

    width: 70px;
    transition: .25s ease;
}

.secret-file img{
    width:100%;
    display:block;
}

.secret-file:hover{
    transform: translateY(-4px) rotate(-3deg);
}
