/* ==========================================================
   GERAL
========================================================== */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
	font-weight: 400;
	font-style: normal;
}

:root {
  --cor-primaria: #3498db;
  --espacamento-padrao: 16px;
  --fonte-titulo: "Jim Nightshade", cursive;
  --fonte-corpo: "Special Elite", system-ui;
  --fonte-corpo-size: 16px;
  --marrom-claro: rgb(207, 180, 139);
  --marrom-medio: rgb(161, 125, 89);
  --marrom-escuro: #332018;
  --amarelo: #d6b25e;
}


body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../assets/beda/background.png");
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
    font-family: var(--fonte-corpo);
    color: var(--marrom-escuro);
}

.container{
    width:100%;
    max-width:900px;
    margin:0 auto;
    padding:0 20px;
}

/* Tablet */
@media (min-width:769px) and (max-width:1024px){

    body{
        background: url("../assets/beda/background-mobile.png") center top;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }

    .container{
        max-width: 760px;
        padding: 0 30px;
    }

    .logo-beda{
        width: 80%;
        max-width: 600px;
    }

}

/* Celular */
@media (max-width:768px){

    body{
        background: url("../assets/beda/background-mobile.png") center top;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }

    .container{
        padding: 0 20px;
    }

    .logo-beda{
        width: 90%;
        max-width: 320px;
    }

}
	

.container{
    padding:20px;
}


.logo-beda{
    display:block;
    margin:0 auto 15px;
    max-width:700px;
    width:40%;
    height:auto;
}

.logo-beda-pergaminho{
    display: block;
	margin: 140px auto 5px;
    max-width: 60px;
    height: auto;
    /* Animação */
    animation: flutuar 2s ease-in-out infinite;
}

.separador{
    display: block;
	margin: 45px auto 20px;
    max-width: 20px;
    height: auto;
    animation: flutuar 2s ease-in-out infinite;
}

.separador-maior{
    display: block;
	margin: 45px auto 20px;
    max-width: 60px;
    height: auto;
    animation: flutuar 2s ease-in-out infinite;
}

.descricao-beda{
	margin-bottom: 60px;
	font-family: var(--fonte-corpo);
	line-height: 1.5;
	
}


@keyframes flutuar {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

#spark-canvas {
      position: fixed;
      top: 0;
      left: 0;
      pointer-events: none;
      width: 100%;
      height: 100%;
      z-index: 9999;
    }
	
a:-webkit-any-link{
    color: var(--marrom-escuro);
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(255,255,255,.15),
                 0 1px 2px rgba(0,0,0,.25);
    transition: color .2s ease, text-shadow .2s ease;
}

a:-webkit-any-link:hover{
    color: #d6b25e;
    text-shadow: 0 1px 2px rgba(0,0,0,.8),
                 0 0 8px rgba(214,178,94,.35);
}

a.attack-button:-webkit-any-link{
    color: #f6efe2;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

a.attack-button:-webkit-any-link:hover{
    color: #f2ddb0;
    text-shadow:
        0 1px 2px rgba(0,0,0,.8),
        0 0 6px rgba(242,221,176,.25);
}
	
/* ==========================================================
   FOOTER
========================================================== */

.footer{

    margin-top:100px;
    background:rgb(161, 125, 89);
    border-top:1px solid #d6b25e;


}

.footer-container{
    width:min(1400px,95%);
    margin:auto;
    padding:0px 0;
    display:grid;
    grid-template-columns:2fr 1fr 1fr;
    gap:60px;

}

.footer-logo h2{

    color:#d6b25e;
    margin-bottom:18px;

}

.footer-logo p{
    line-height:1.8;
    color: #1b1b1b;

}

.footer-links h3{
    color:#d6b25e;
    margin-bottom:18px;

}

.footer-links{
    display:flex;
    flex-direction:column;
    gap:12px;

}

.footer-links a{

    color:#d7dde6;
    text-decoration:none;
    transition:.25s;

}

.footer-links a:hover{
    color:#d6b25e;
    transform:translateX(6px);

}

.footer-bottom{

    border-top:1px solid rgba(255,255,255,.08);

    padding:25px;

    text-align:center;

    color: #1b1b1b;;

    font-size:.9rem;

}

.footer-bottom strong{


}

@media(max-width:900px){

    .footer-container{

        grid-template-columns:1fr;

        text-align:center;

    }

}
