<form action="https://submit-form.com/iH36xrIB3" method="POST" class="form-terminal">
  <div class="campo">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="name" required>
  </div>

  <div class="campo">
    <label for="website">Site/Blog (opcional):</label>
    <input type="url" id="website" name="website" placeholder="https://...">
  </div>
    
  <div class="campo">
    <label for="mensagem">Mensagem:</label>
    <textarea id="mensagem" name="message" required></textarea>
  </div>

 <input type="hidden" name="_redirect" value="https://bamoretti.github.io/entreblogs/agradecimento/" />

  <button type="submit" class="btn-terminal">Enviar mensagem</button>
</form>
