<!DOCTYPE HTML>
<html lang="pt-br">
<head>
<!-- Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Um espaço para compartilhar perspectivas sobre os mesmos temas, cada um do seu jeitinho e no seu próprio blog.">
  <meta name="robots" content="index,follow">
<!-- Meta Tags -->

<!-- SEO -->
<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
<!-- SEO -->

<!-- Title Tags -->
{% if page.url == "/" %}
  <title>{{ site.title }}</title>
{% elsif page.title == 'erro' %}
  <title>Erro 404</title>
{% else %}
  <title>{{ page.title | truncate: 45, "…" }} • {{ site.title }}</title>
{% endif %}
<!-- Title Tags -->

<!-- Links -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/favicon/selo_1_amarelo.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/favicon/selo_1_amarelo.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/favicon/selo_1_amarelo.png">

<link rel="preconnect" href="https://fonts.bunny.net">
<link href="https://fonts.bunny.net/css?family=Roboto+Mono" rel="stylesheet" />

<!-- CSS PRINCIPAL (CORRIGIDO) -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/styles.css">
<!-- Links -->

<!-- Troca a cor aleatoriamente -->
{% include moldura-aleatoria.html %}
{% include destaque-aleatorio.html %}
<!-- Troca a cor aleatoriamente -->

<!-- Analytics (sem plugin, compatível com GitHub Pages) -->
<script src="https://cdn.counter.dev/script.js"
        data-id="4b082bc3-c047-46b4-9794-036e15bd1cde"
        data-utcoffset="-3">
</script>

</head>
<body>
  <div class="site-container">
