<header>
<div>
   <a href="/index">
  <img class="logo" src="/assets/selo_1.0.gif" alt="gif do logo do entreblogs, uma pasta de arquivos do Windows trocando de cor, entre amarelo, azul e rosa, com o cursor do mouse sobre ela" title="ENTREBLOGS">
   </a>
 </div>  
   <div> <h1>ENTREBLOGS</h1>
  <p class="h1-menor">A comunidade de blogagem coletiva</p>
   </div>

  <nav>
   <a href="/temas" title="descubra os temas das blogagens coletivas">TEMAS</a>
   <a href="/tag" title="participe das correntes">TAGS</a>
   <a href="/clube-de-leitura" title="descubra os livros que leremos, lemos e estamos lendo">CLUBE DE LEITURA</a>
   <a href="/tutoriais" title="cada um compartilha dicas que descobriu e podem ajudar mais alguém">TUTORIAIS</a>
   <a href="/participantes" title="descubra todos os blogs que já fazem parte do coletivo">PARTICIPANTES</a>
   <a href="/livro-de-visitas" title="deixe seu comentário para a comunidade">LIVRO DE VISITAS</a>
  </nav>
</header>