<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>

  <!-- favicon exclusivo do BEDA -->
  <link rel="icon" type="image/png" href="/assets/favicon/selo_1_marron.png">
  <link rel="stylesheet" href="..\style\beda2026-geral.css">

</head>

<body>

  {{ content }}

  <canvas id="spark-canvas"></canvas>

  <script>
    const canvas = document.getElementById("spark-canvas");
    const ctx = canvas.getContext("2d");

    function resize() {
      canvas.width = window.innerWidth;
      canvas.height = window.innerHeight;
    }

    resize();
    window.addEventListener("resize", resize);

    let particles = [];

    document.addEventListener("mousemove", (e) => {
      for (let i = 0; i < 3; i++) {
        particles.push({
          x: e.clientX,
          y: e.clientY,
          size: Math.random() * 3 + 1,
          speedY: Math.random() * 2 + 1,
          speedX: (Math.random() - 0.5) * 2,
          alpha: 1
        });
      }
    });

    function animate() {
      ctx.clearRect(0, 0, canvas.width, canvas.height);

      particles.forEach((p, index) => {
        p.y += p.speedY;
        p.x += p.speedX;
        p.alpha -= 0.02;

        ctx.fillStyle = `rgba(255, 245, 180, ${p.alpha})`;
        ctx.beginPath();
        ctx.arc(p.x, p.y, p.size, 0, Math.PI * 2);
        ctx.shadowBlur = 10;
        ctx.shadowColor = "rgba(255, 230, 140, 0.8)";
        ctx.fill();
        ctx.shadowBlur = 0;

        if (p.alpha <= 0) {
          particles.splice(index, 1);
        }
      });

      requestAnimationFrame(animate);
    }

    animate();
  </script>


<footer class="footer">

    <div class="footer-container">

        <div class="footer-logo">


        </div>

        <div class="footer-links">

        

        </div>

    </div>

    <div class="footer-bottom">
	
	 <p>

         <a href="/beda/cronicas">Crônicas</a> ✦  <a href="/beda/">Recrutamento</a> ✦ <a href="/beda/">Pergaminhos</a>  

        </p>
		 <p>

            <br><br>

        </p>

        <p>

           Os Guardiões da Blogosfera © BEDA 2026 

        </p>

        <p>

            Criado por <strong>Entreblogs</strong> para a comunidade de blogueiros.

        </p>

    </div>

</footer>


<div id="youtube-player" style="display:none;"></div>

<script src="https://www.youtube.com/iframe_api"></script>

<script> let player; let iniciou = false; 
function onYouTubeIframeAPIReady() 
{ player = new YT.Player("youtube-player", { height: "0", width: "0", videoId: "AKBaaZuF8YQ", playerVars: { autoplay: 0, controls: 0, loop: 0, playlist: "AKBaaZuF8YQ", modestbranding: 1, rel: 0 } }); } document.addEventListener("click", function iniciarMusica() { if (iniciou || !player) return; iniciou = true; player.playVideo(); document.removeEventListener("click", iniciarMusica); }, { once: true }); </script>

</body>
</html>
